* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  outline: 1px solid red;
  transition: all 0.3s ease-in-out;
}

:root {
  --th-color1: #b40018;
  --th-color2: #13141d;
  --thcolor2-variant1: rgb(20, 20, 20);
  --thcolor2-variant1: rgb(46, 36, 36);
  --th-color3: #8d99af;
  --th-color4: #ffffff;
  --h6-color: rgb(226, 166, 0);
}

body {
  background: var(--th-color2);
}

/*Preset Font Sizes*/
p {
  color: var(--th-color4);
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
}

h1 {
  font-size: 60px;
  color: #8d99af;
  letter-spacing: 1px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  color: var(--th-color4);
  font-size: 30px;
  letter-spacing: 1px;
}

h5 {
  color: var(--th-color4);
  font-size: 20px;
  letter-spacing: 1px;
  vertical-align: auto;
}

h6 {
  font-size: 12px;
  color: var(--h6-color);
  letter-spacing: 1px;
}

/*Preset Font Sizes End*/

button {
  transition: all 0.1s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* Navigation bar start*/
.navbar {
  width: 100vw;

  padding: 2.2rem 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to bottom left,
    hsl(0, 100%, 29.02%) 0%,
    hsl(0, 100%, 27.97%) 8.7%,
    hsl(0, 100%, 26.79%) 15.7%,
    hsl(0, 100%, 25.5%) 21.3%,
    hsl(0, 100%, 24.09%) 26%,
    hsl(0, 100%, 22.58%) 29.9%,
    hsl(0, 100%, 20.95%) 33.5%,
    hsl(0, 100%, 19.23%) 36.9%,
    hsl(0, 100%, 17.4%) 40.7%,
    hsl(0, 100%, 15.47%) 44.9%,
    hsl(0, 100%, 13.45%) 50.1%,
    hsl(0, 100%, 11.33%) 56.4%,
    hsl(0, 100%, 9.1%) 64.3%,
    hsl(0, 100%, 6.74%) 73.9%,
    hsl(0, 100%, 4.18%) 85.7%,
    hsl(0, 0%, 0%) 100%
  );

  width: 100%;
  height: 15px;
  position: fixed;
  z-index: 1;
}

.logo {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  align-items: center;
  text-align: center;
}

.logo img {
  height: 50px;
  width: auto;
  image-rendering: optimizeQuality;
  object-fit: cover;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  margin-right: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--th-color4);
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: var(--th-color1);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

/*NavBar End*/

/*Header part Start */
header {
  background: url("../bgimg.jpg") center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 12.94%, 0.34) 0%,
    hsla(0, 0%, 12.9%, 0.344) 1.8%,
    hsla(0, 0%, 12.8%, 0.355) 4.1%,
    hsla(0, 0%, 12.64%, 0.371) 6.8%,
    hsla(0, 0%, 12.42%, 0.393) 10.2%,
    hsla(0, 0%, 12.13%, 0.42) 14.1%,
    hsla(0, 0%, 11.78%, 0.454) 18.8%,
    hsla(0, 0%, 11.35%, 0.492) 24.2%,
    hsla(0, 0%, 10.84%, 0.537) 30.3%,
    hsla(0, 0%, 10.24%, 0.587) 37.3%,
    hsla(0, 0%, 9.52%, 0.643) 45.2%,
    hsla(0, 0%, 8.67%, 0.704) 54%,
    hsla(0, 0%, 7.64%, 0.77) 63.9%,
    hsla(0, 0%, 6.35%, 0.841) 74.8%,
    hsla(0, 0%, 4.56%, 0.918) 86.8%,
    hsl(0, 0%, 0%) 100%
  );

  z-index: 0;
}

header .pic-logo {
  z-index: 1;
  max-width: 700px;
  width: 90%;
  text-align: right;
  padding-right: 6%;
  margin-left: 8%;
  z-index: 1;
}
.pic-logo img {
  border-radius: 50%;
  object-fit: cover;
  width: 400px;
  height: 400px;
}
.profile-intro {
  margin-right: 4%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 89%, 0.1) 0%,
    hsla(0, 0%, 89.05%, 0.11) 8.1%,
    hsla(0, 0%, 89.19%, 0.111) 15.8%,
    hsla(0, 0%, 89.42%, 0.112) 23.1%,
    hsla(0, 0%, 89.71%, 0.113) 30%,
    hsla(0, 0%, 90.06%, 0.114) 36.6%,
    hsla(0, 0%, 90.46%, 0.116) 43%,
    hsla(0, 0%, 90.88%, 0.117) 49.2%,
    hsla(0, 0%, 91.33%, 0.119) 55.3%,
    hsla(0, 0%, 91.78%, 0.121) 61.3%,
    hsla(0, 0%, 92.22%, 0.123) 67.4%,
    hsla(0, 0%, 92.66%, 0.125) 73.5%,
    hsla(0, 0%, 93.06%, 0.126) 79.8%,
    hsla(0, 0%, 93.43%, 0.128) 86.3%,
    hsla(0, 0%, 93.74%, 0.2) 93%,
    hsla(0, 0%, 94%, 0.33) 100%
  );
  z-index: 1;
}
.profile-intro h6 {
  text-align: right;
  margin-bottom: 7px;
}

/*Star rating Start*/

.star-display {
  display: flex;
  margin: 13px 20px;
}
.star-display .text {
  display: flex;
  margin: 20px 20px;
}

.star-display .star {
  display: flex;
  margin: 8px 10px;
}

.average-rating {
  position: relative;
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  font-size: 30px;
}

.average-rating::before {
  --percent: calc(4.5 / 5 * 100%);
  content: "★★★★★";
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    gold var(--percent),
    rgba(0, 0, 0, 0.2) var(--percent)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*Star rating End*/

/* rated by number start*/
.number-of-rates {
  margin-left: 40px;
  margin-bottom: 20px;
}

/* hire button start*/

.star-n-button .button-display {
  margin-left: 2rem;
}

.button {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:focus {
  outline: none;
}

.button.hire-button {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
/* hire button end*/

/*Header part End */

/*
About Section Start
*/
#about {
  background: hsl(0, 0%, 0%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 4%;
  padding-right: 4%;
}
#about .about-text {
  width: 60%;
}

#about .about-pic {
  top: -230px;
  left: 80px;
  width: 40%;
  text-align: center;
}

#about .about-pic img {
  object-fit: cover;
  height: 400px;
  width: 300px;
  border-radius: 1.5rem;
}

/*
About Section END
*/

/* Output Highligts Start*/

#highlights {
  background: var(--th-color2);
  text-align: center;
}

#highlights h2 {
  padding-top: 4rem;
  text-align: center;
}

/*picture highlights*/
#highlights .img-scrollable {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

#highlights .image-slider {
  width: 700px;
  height: 500px;
  overflow-x: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  margin: 0 auto;
  position: relative;
}

#highlights .image-slider img {
  object-fit: cover;
  border-radius: 8px;
  object-fit: cover;
  flex: 1 0 100%;
  scroll-snap-align: start;
}

#highlights .slider-nav {
  display: flex;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
}

#highlights .slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #8d99af;
  opacity: 0.75;
  transition: all ease 250ms;
  margin: 0 0.25rem;
}

#highlights .slider-nav a:hover {
  opacity: 1;
  transform: scale(1.2);
  background-color: #fff;
}
/*picture highlights end*/

/* Output Highligts END*/

/*Testimony start*/
#testimony {
  background: var(--th-color3);
  padding: 0 5%;
}

#testimony .testimony-box {
  background: var(--th-color2);
  padding: 0 5%;
  border-radius: 0.4rem;
  width: auto;
}

#testimony h3 {
  padding-top: 4rem;
  text-align: center;
}

#testimony .average {
  display: flex;
  flex-direction: row;
}

#testimony .average .product-rating-overview__filters {
  display: flex;
  flex-direction: row;
}

#testimony .average .product-rating-overview__filter {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 2rem;
  line-height: 2rem;
  min-width: 6.25rem;
  text-align: center;
  padding: 0 0.625rem;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0.5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  text-transform: capitalize;
  border-radius: 2px;
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;
}

/*Testimony end*/
